@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("@/assets/css/typography.css");

.ticker-container {
  width: 100%;
  overflow: hidden;
}

.ticker-content {
  display: flex;
  animation: ticker 20s linear infinite;
}

.ticker-item {
  flex-shrink: 0;
  padding-right: 1rem; /* Adjust as needed */
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.gallery {
  @apply h-[175vh] relative flex gap-[2vw] box-border overflow-hidden p-[2vw];
  background: rgb(0, 0, 0);
}

.gallery .column:nth-of-type(1) {
  @apply top-[-45%];
}
.gallery .column:nth-of-type(2) {
  @apply top-[-95%];
}
.gallery .column:nth-of-type(3) {
  @apply top-[-45%];
}
.gallery .column:nth-of-type(4) {
  @apply -top-3/4;
}


.svgCurve {
  position: absolute;
  top: 0;
  left: -99px;
  width: 100px;
  height: 100%;
  fill: #111;
  stroke: none;
}

/* Assuming you have a CSS file or a style tag where you define your styles */

