@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("@/assets/css/typography.css");

html{
  scroll-behavior: smooth;
}

.ticker-container {
  width: 100%;
  overflow: hidden;
}

.ticker-content {
  display: flex;
  animation: ticker 20s linear infinite;
}

.ticker-item {
  flex-shrink: 0;
  padding-right: 1rem; /* Adjust as needed */
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.gallery {
  @apply h-[175vh] relative flex gap-[2vw] box-border overflow-hidden p-[2vw];
  background: rgb(0, 0, 0);
}

.gallery .column:nth-of-type(1) {
  @apply top-[-45%];
}
.gallery .column:nth-of-type(2) {
  @apply top-[-95%];
}
.gallery .column:nth-of-type(3) {
  @apply top-[-45%];
}
.gallery .column:nth-of-type(4) {
  @apply -top-3/4;
}

.svgCurve {
  position: absolute;
  top: 0;
  left: -99px;
  width: 100px;
  height: 100%;
  fill: #100c2d;
  stroke: none;
}
.about-grid {
  background-size: 180px 180px;
  background-image: linear-gradient(
      to right,
      rgba(224, 101, 255, 0.07) 3px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(224, 101, 255, 0.07) 3px, transparent 1px);
}

.delegates-message {
  background-image: url("/public/assets/delegates-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
/* Assuming you have a CSS file or a style tag where you define your styles */
